* {
    margin: 0;
    padding: 0;
}

html, body {
    touch-action: pan-y;
    overscroll-behavior-y: none ;
    overscroll-behavior-x: none;
}

button {
    background-color: #368acf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
